---
const packagesData = [
  {
    image: "./src/assets/ourpackage/package1.png",
    title: "Holiday's packages in dubai",
    description: "Explore the hidden gems of the city.",
    price: "Starting from per person",
    route: "https://b2b.travelplatformonline.com/"
  },
  {
    image: "./src/assets/ourpackage/package2.png",
    title: "Holiday's packages in singapore",
    description: "Discover iconic landmarks and off-the-beaten-path gems.",
    price: "Starting from per person",
    route: "https://b2b.travelplatformonline.com/"
  },
  {
    image: "/public/serviceimg/service24.jpg",
    title: "Umrah packages",
    description: "Umrah 2025: Everything You Need to Know",
    price: "Starting from per person",
    route: "https://b2b.travelplatformonline.com/"
  }
];
---

<div class="text-center p-8 mt-16 ">
  <h2 class="text-4xl font-bold mb-4 ">Our Packages</h2>
  <p class="mb-8 text-[#666666]">
    Our expert guides will unveil hidden gems, guiding you through iconic landmarks and off-the-beaten-path gems, <br> ensuring you capture the essence of this remarkable place.
  </p>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 justify-center ml-9 mr-9">
    {packagesData.map((pkg, index) => (
      <div class="relative border border-gray-300 rounded-lg p-4 text-center flex flex-col justify-between">
        <div class="absolute -top-4 -left-4 ">
          <div class="bg-yellow-500 w-32 h-6 transform -skew-x-12 flex items-center justify-center">
            <span class="text-white text-xs">Limited Time Offer!</span>
          </div>
        </div>
        <img
          src={pkg.image}
          alt={`Package ${index + 1}`}
          class="w-full h-40 object-cover rounded-lg mb-4"
        />
        <h3 class="text-xl font-bold mb-2">{pkg.title}</h3>
        <p class="mb-4">{pkg.description}</p>
        <a
          href={pkg.route}
          class="bg-white text-yellow-500 py-1 px-2 text-sm rounded-full hover:bg-yellow-400 border-2 border-yellow-500 hover:text-white flex items-center justify-center w-32"
        >
          Book Now
          <svg
            class="ml-2 w-4 h-4"
            fill="none"
            stroke="currentColor"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5l7 7-7 7"
            />
          </svg>
        </a>
        <div class="absolute bottom-2 right-2">
          <div class="bg-blue-500 w-40 h-6 transform -skew-x-12 flex items-center justify-center">
            <span class="text-white text-xs">{pkg.price}</span>
          </div>
        </div>
      </div>
    ))}
  </div>
  <div class="mt-20 mb-6">
    <a
      href="/packages"
      class="bg-blue-500 text-white py-4 px-8 rounded-full hover:bg-blue-700"
    >
      View More
    </a>
  </div>
</div>
